html,
body {
  font-size: 10px;
  font-weight: 400;
  scroll-behavior: smooth;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 9rem;
  line-height: 1.4;
  font-weight: 600;
}

h2 {
  font-size: 4.7rem;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3.1rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

h5 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-top: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:active,
a:focus,
a:hover,
button {
  text-decoration: none;
  outline: 0;
}

a:hover,
button:hover {
  --webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body {
  background-color: rgb(228,97,85);
}

/* Header Section */

.header-section .navbar .container-fluid{
  background-color: #72213e;
}

.header-section .navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.header-section .navbar-brand i {
  font-size: 4rem;
  padding: 5rem 0;
}

.header-section .navbar-brand .fa-font:before {
    content: none;
}

/* Main Section */

.main-section .container-fluid .img-fluid {
  border: 5px solid black;
  padding: 0;
  border-radius: 5%;
}

.main-section .container-fluid .fa-solid {
  font-size: 5rem;
  position: relative;
  top: -10rem;
}

.main-section .container-fluid .container-score {
  margin: 2.5rem;
  text-align: center;
}

.main-section .container-fluid .row .col-2 .fa-solid {
  font-size: 2rem;
  color: #72213e;
  top: 0;
  margin: auto 0;
  line-height: 1.5;
}

.main-section .container-fluid .row .col-2 .fa-font:before{
  content: none;
}

.main-section .container-fluid .container-score .fa-solid {
  font-size: 2rem;
  color: #72213e;
  top: 0;
  margin: auto 0;
  line-height: 2.0;
}

.main-section .container-fluid .container-score .fa-font:before{
  content: none;
}

.main-section .container-fluid .row .col-2{
  margin: auto 0;
}

.main-section .container-fluid .container-score .fa-solid .btn {
  background-color: #72213e;
  color: rgb(228,97,85);
  font-size: 1.5rem;
}

.main-section .container-fluid .container-score .fa-solid .btn:hover {
  transform: scale(1.1);
}

.main-section .container-fluid .container-score .fa-solid .btn:active {
  transform: translateY(4px);
}

/* Button Section */
.button-section .container {
  text-align: center;
  margin-left: 10rem;
  margin-bottom: 5rem;
}

.button-section .container .row .col .btn-rock:hover {
  transform: scale(1.1);
}

.button-section .container .row .col .btn-rock:active {
  transform: translateY(4px);
}

.button-section .container .row .col .btn-paper:hover {
  transform: scale(1.1);
}

.button-section .container .row .col .btn-paper:active {
  transform: translateY(4px);
}

.button-section .container .row .col .btn-scissors:hover {
  transform: scale(1.1);
}

.button-section .container .row .col .btn-scissors:active {
  transform: translateY(4px);
}